@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model List<Yax.Model.Y_User>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">会员列表</h3>
    <div class="content">

        <form action="/admin/member/IndexYT" class="form-inline" method="get">
            <div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Account" name="Account" value="@Request.QueryString["Account"]" placeholder="账号" />
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn" title="搜索">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                <input type="hidden" name="UserType" value="@Request.QueryString["UserType"]" />
                <input type="hidden" name="menuid" value="@Request.QueryString["menuid"]" />
                <input type="hidden" name="pid" value="@Request.QueryString["pid"]" />
            </div>
            <br>
        </form>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th width="30px" style="display:none">
                        <input id="checkall" type="checkbox" data-toolbar=".btn-toolbar" data-target="[name=ID]" data-toggle="checkall">
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        会员类型
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        备注
                    </th>
                    <th>
                        注册时间
                    </th>
                
                    <th>
                        登录次数
                    </th>
          
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (Model != null && Model.Count > 0)
                    {


                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td width="30px" style="display:none"><input type="checkbox" name="ID" value="1267"></td>
                                <td>
                                    @Model[i].ID
                                </td>
                                <td>
                                    @Model[i].Account
                                </td>
                                <td>
                                    @(Model[i].UserType)会员
                                </td>
                                <td>
                                    @{
                                        if (Model[i].Effect == 1)
                                        {
                                            <span>允许登陆</span>
                                        }
                                        else
                                        {
                                            <span>禁止登陆</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @Model[i].Memo
                                </td>
                                <td>
                                    @Model[i].AddTime
                                </td>
                           
                                <td>
                                    @Model[i].LoginCount
                                </td>
                   
                                <td>
                                    @{ if (Model[i].Effect == 1)
                                        {
                                            <a class="btn btn-danger btn-xs" onclick="deladmin(@Model[i].ID,2,'禁止登陆')">禁止登陆</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-info btn-xs" onclick="deladmin(@Model[i].ID,1,'恢复正常')">恢复正常</a>
                                        }
                                        <a class="btn btn-success btn-xs" onclick="YTMod(@Model[i].ID)">编辑</a>
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                }
            </tbody>
        </table>
        @Html.Raw(ViewBag.PageStr)
    </div>
</div>

<script>
    function YTMod(id)
    {
        $loadModal('/admin/member/YTMod?id=' + id);
    }
    function deladmin(id,effect,name)
    {
        if(confirm("确定要"+name+"？")){
            $.post("/admin/member/delmember?id="+id+"&effect="+effect,"",function(res){
                alert(res);
                location.reload();
            })
        }

    }

    function shoujian(id)
    {
        $loadModal('/admin/member/ShoujianAddress?id='+id);
    }


    function chongzhi(id)
    {
        $loadModal('/admin/member/ChongZhi?id=' + id);
    }
</script>