@model PagedList<MC_UserGoods>
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="//apps.bdimg.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=0.0">
    <meta http-equiv=”Cache-Control” content=”no-transform” />
    <meta http-equiv=”Cache-Control” content=”no-siteapp” />
    <title>@ViewBag.Title</title>
    @{Html.RenderPartial("/views/PartV/aca/HeadJC.cshtml");}
    <meta name='apple-mobile-web-app-title' content='@ViewBag.Title'>
</head>

<body class="archive author author-xiaoka author-2 logged-in  nav-fixed site-layout-1">
    <header class="header header-layout-3">
        @{Html.RenderPartial("/views/PartV/aca/NavWeb.cshtml");}
    </header>

    <div class="fixed-body main-bg box-body navbar-search">
        <div class="theme-box">
            <button class="close" data-toggle-class data-target=".navbar-search">
                <i data-svg="close" data-class="ic-close" data-viewbox="0 0 1024 1024">
                </i>
            </button>
        </div>
        <div class="box-body">
            <div class="search-input">
                <form method="get" class="relative line-form" action="">
                    <input type="text" name="s" class="line-form-input" tabindex="2" placeholder="开启精彩搜索">
                    <div class="abs-right muted-color">
                        <button type="submit" tabindex="3" class="null"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="search" aria-hidden="true"></i></button>
                    </div>
                    <i class="line-form-line"></i>
                </form>
            </div>
        </div>
    </div>
    <div class="mobile-header">
        @{Html.RenderPartial("/views/PartV/aca/NavWap.cshtml");}
        <div class="fixed-body" data-close=".mobile-navbar"></div>
    </div>

    <div class="container fluid-widget"></div>
    <main class="container">
        <div class="content-wrap">
            <div class="content-layout">
                @{Html.RenderPartial("/views/PartV/aca/MemberBanner.cshtml");}

                @{Html.RenderPartial("/views/PartV/aca/MemberTab.cshtml");}

                <div class="main-bg zib-widget author-content nobottom">

                    <!--author-tab-content 会员中心内容 不同部分-->
                    <div class="tab-content author-tab-content">
                        @foreach (var item in Model)
                        {
                            <posts class="posts-item ajax-item main-shadow radius8 card">
                                <a target="_blank" class="item-thumbnail" href="/aca/play?ID=@item.VedioID">
                                    <img data-src="@(ViewBag.picurl+item.Cover)" alt="@item.VedioName" class="lazyload fit-cover radius8">
                                </a>
                                <div class="item-body">
                                    <h5 class="item-heading text-ellipsis-2">
                                        <a href="/aca/play?ID=@item.VedioID">@item.VedioName<span class="focus-color"></span></a>
                                    </h5>
                                </div>
                            </posts>
                        }
                    </div>
                    @if (Model != null && Model.Count > 0)
                    {
                        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pi", PagerItemWrapperFormatString = "<li>{0}</li>", CurrentPagerItemWrapperFormatString = "<li class=\"active\"><span>{0}</span></li>", FirstPageText = "首页", NextPageText = "»", PrevPageText = "上一页", LastPageText = "尾页", ContainerTagName = "ul", AutoHide = false }, new { @class = "pagination" })
                    }
                </div>
            </div>
        </div>
    </main>
    <div class="container fluid-widget"></div><div class="notyn"></div>
    @{Html.RenderPartial("/views/PartV/aca/Footer.cshtml");}
    <!--window_variable_start-->
    <!--window_variable_end-->

    @{Html.RenderPartial("/views/PartV/aca/ScrollTop.cshtml");}

    @{Html.RenderPartial("/views/PartV/aca/FooterJC.cshtml");}
</body>
</html>