@{
    ViewBag.Title = "Create";
}
<script src="~/Content/js/ajaxfileupload.js"></script>
<script type="text/javascript">
    function ajaxFileUpload(eid, upval, showVal) {
        var suburl = '/admin/home/AjaxPic?roo=1';
        if (eid == "upv")
        {
            $("#loadimg").show();
            suburl = '/admin/home/AjaxVedio?roo=1';
            getTimes(eid);
        }
        $.ajaxFileUpload
        (
            {
                url: suburl, //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: eid, //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'json', //返回值类型 一般设置为json
                //
               
                //
                success: function (data)  //服务器成功响应处理函数
                {
                 
                    if (data.statu == "1") {
                        if (eid == "upv") {
                            $("#" + upval).val(data.msg);
                            $("#loadimg").hide();
                        }
                        else
                        {
                            $("#" + showVal).attr("src", data.msg);
                            $("#" + upval).val(data.msg);
                        }
                     
                    }
                    else {
                        alert(data.msg)
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }


    //获取视频时长
    function getTimes(id) {
        var obj_file = document.getElementById(id);
        var content = obj_file.files[0]
        //console.log(content);
        //获取录音时长
        var url = URL.createObjectURL(content);
        //经测试，发现audio也可获取视频的时长
        var audioElement = new Audio(url);
        var duration;
        audioElement.addEventListener("loadedmetadata", function (_event) {
            duration = audioElement.duration;
            var timesec = parseInt(duration);
            if (timesec < 60)
            {
                $("#VedioLong").val(timesec+"秒");
            }
            else if (timesec<3600)
            {

                $("#VedioLong").val(parseInt(timesec / 60) + "分" + timesec % 60 + "秒");
            }
            
        });
    }
</script>
<form action="/admin/config/AddFriendLink" method="post" class="form-horizontal" id="_ModalForm">
    <input type="hidden" name="id" value="@Request.QueryString["id"]" />
    <input type="hidden" name="GName" id="GName" value="@Request.QueryString["GName"]" />
    <div id="Edit-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">视频</h4>
                </div>
                <div class="modal-body">
                    <div class="error-panel"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" value="@ViewBag.Name" id="Name" name="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <select class="btn btn-default dropdown-toggle" id="CategoryA" name="CategoryA">
                                <option value="自拍">自拍</option>
                                <option value="亚洲">亚洲</option>
                                <option value="动漫">动漫</option>
                                <option value="剧情">剧情</option>
                                <option value="欧美">欧美</option>
                            </select>
                            <script>
                                $("#CategoryA").val('@ViewBag.Category');
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址</label>
                        <div class="col-sm-10">
                            <input type="text"  value="@ViewBag.Url" placeholder="播放地址" id="Url" name="Url" class="form-control" />
                            <img src="~/Content/Images/load_img.gif" id="loadimg" style="display:none" />
                            <input type="file" onchange="ajaxFileUpload('upv', 'Url','')" name="upv" id="upv" />
                          </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">时长</label>
                        <div class="col-sm-10">
                            <input type="text" value="@ViewBag.VedioLong" id="VedioLong" name="VedioLong" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-10">
                            <input type="number" value="@ViewBag.Sort" id="Sort" name="Sort" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">封面</label>
                        <div class="col-sm-10">
                            @{
                                string cover = ViewBag.Cover;
                                if (ViewBag.FromSite != "sys"&&!string.IsNullOrEmpty(cover))
                                {
                                    cover = ViewBag.fileurl + cover;
                                }
                                int id = Yax.Common.Utils.GetQueryInt("id");
                                if (id == 0 || ViewBag.FromSite == "sys")
                                {
                                    <input type="file" onchange="ajaxFileUpload('upmg', 'Cover', 'erimg')" name="upmg" id="upmg" />
                                    <input type="text" style="display:none" placeholder="远程图片地址" value="" id="netimgurl" class="form-control" />
                                    <input onchange="donetdow()" id="chknet" type="checkbox" /> <label for="chknet">从网络上下载图片</label>
                                    <button type="button" style="display:none" id="btndown" onclick="dodown()" class="btn btn-primary">下载</button>
                                    <br />
                                }
                            }
                            <input type="hidden" value="@ViewBag.Cover" name="Cover" id="Cover" />
                            <img src="@cover" style="max-width:400px;" id="erimg" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="dosub()" class="btn btn-primary">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

    </div>
</form>
<style>
    input, select, textarea {
        max-width: 400px;
    }
</style>

@*<script src="~/Content/js/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">
    $('#Edit-modal').modal('show');
    function donetdow()
    {
        var bischecked = $('#chknet').is(':checked');
        if(bischecked)
        {
            
            $("#netimgurl").show();
            $("#btndown").show();
            $("#upmg").hide();
        }
        else
        {
            $("#btndown").hide();
            $("#netimgurl").hide();
            $("#upmg").show();
        }
    }

    function dodown()
    {
        var url = $("#netimgurl").val();
        $.post("/admin/home/AjaxNetImg?url="+url, "", function (res) {
            if(res.indexOf("失败")>0)
            {
                alert(res);
            }
            else
            {
                $("#erimg").attr("src", res);
                $("#Cover").val(res);
            }
        })
    }

    function dosub() {
        if ($("#Name").val() == "") {
            $("#Name").focus();
            alert('名称不能为空');
            return;
        }
        var datamenu = $("#_ModalForm").serialize();
        $.post("/admin/AMHVedio/AddVedioPost", datamenu, function (res) {
            alert(res);
            location.reload();
        })
    }
</script>