@model Entity.MS_LogError

@{
    ViewBag.Title = "系统-日志详细";
    Layout = null;
}
<form class="form-horizontal">
    <div id="Edit-modal" class="modal fade">
        <div class="modal-dialog" style="width:1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">详细日志</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover">
                        <tr class="tr-fir">
                            <td class="td-tit tar" style="width:10%">操作员ID</td>
                            <td style="width:20%">@(Model.UserID)</td>
                            <td class="td-tit tar" style="width:10%">账号</td>
                            <td style="width:20%">@Model.UserName</td>
                        </tr>

                        <tr class="tr-fir">
                            <td class="td-tit tar">IP</td>
                            <td>@Model.IP</td>
                            <td class="td-tit tar">时间</td>
                            <td>@Model.AddTime</td>
                        </tr>

                        <tr class="tr-sec">
                            <td class="td-tit tar">错误地址</td>
                            <td colspan="3">@Model.URL</td>
                        </tr>
                        <tr class="tr-sec">
                            <td class="td-tit tar">错误信息</td>
                            <td colspan="3" class="wordbreak">@Model.Message</td>
                        </tr>
                        <tr class="tr-sec">
                            <td class="td-tit tar">StackTrace</td>
                            <td colspan="3" style="word-break:break-all">@Model.StackTrace</td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
<script type="text/javascript">
    $('#Edit-modal').modal('show');
</script>