@model MC_Vedios
@{
    ViewBag.Title = "Create";
    Layout = null;
}
<script src="~/Content/js/ajaxfileupload.js"></script>
<script type="text/javascript">
    function ajaxFileUpload(eid, upval, showVal) {
        var suburl = '/FileUP/AjaxPic?roo=1';
        if (eid == "upv")
        {
            $("#loadimg").show();
            suburl = '/FileUP/AjaxVedio?roo=1';
            getTimes(eid);
        }
        $.ajaxFileUpload
        (
            {
                url: suburl, //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: eid, //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'json', //返回值类型 一般设置为json
                //

                //
                success: function (data)  //服务器成功响应处理函数
                {

                    if (data.statu == "1") {
                        if (eid == "upv") {
                            $("#" + upval).val(data.Message);
                            $("#loadimg").hide();
                        }
                        else
                        {
                            $("#" + showVal).attr("src", data.Message);
                            $("#" + upval).val(data.Message);
                        }

                    }
                    else {
                        alert(data.Message)
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }


    //获取视频时长
    function getTimes(id) {
        var obj_file = document.getElementById(id);
        var content = obj_file.files[0]
        //console.log(content);
        //获取录音时长
        var url = URL.createObjectURL(content);
        //经测试，发现audio也可获取视频的时长
        var audioElement = new Audio(url);
        var duration;
        audioElement.addEventListener("loadedmetadata", function (_event) {
            duration = audioElement.duration;
            var timesec = parseInt(duration);
            if (timesec < 60) {
                $("#VedioLong").val(timesec + "秒");
            }
            else if (timesec < 3600) {

                $("#VedioLong").val(parseInt(timesec / 60) + "分" + timesec % 60 + "秒"); 
            }
            else {
                //3723秒
                $("#VedioLong").val(parseInt(timesec / 3600) + "时" + parseInt((timesec % 3600)/60) + "分");
            }

        });
    }
</script>
<form action="/admin/config/AddFriendLink" method="post" class="form-horizontal" id="_ModalForm">
    <input type="hidden" name="ID" id="ID" value="@Model.ID" />
    <div id="Edit-modal" class="modal fade">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">视频</h4>
                </div>
                <div class="modal-body">
                    <div class="error-panel"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" value="@Model.Name" id="txtName" name="txtName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <select class="btn btn-default dropdown-toggle" id="CategoryA" name="CategoryA">
                                <option value="国产">国产</option>
                                <option value="欧美">欧美</option>
                                <option value="日本">日本</option>
                                <option value="韩国">韩国</option>
                                <option value="剧情">剧情</option>
                                <option value="动漫">动漫</option>
                            </select>
                            <script>
                                $("#CategoryA").val('@Model.Category');
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标签</label>
                        <div class="col-sm-10 tagbtns">
                            @{
                                IList<MC_Tags> tags = ViewBag.tags;
                                string txtTag = "," + Model.Tag + ",";
                                foreach (var item in tags)
                                {
                                    if (txtTag.Contains("," + item.Name + ","))
                                    {
                                        <input class="btn  btn-info" onclick="changetag(this)" value="@item.Name" type="button" />
                                    }
                                    else
                                    {
                                        <input class="btn  btn-default" onclick="changetag(this)" value="@item.Name" type="button" />
                                    }

                                }
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">系列</label>
                        <div class="col-sm-10">
                            <input type="text" style="width:200px;display:inline" onblur="changeSe()" value="@Model.SeriousName" id="Seriousname" name="Seriousname" class="form-control" />
                            <select class="form-control dropdown-toggle" style="width:200px;display:inline" id="SID" name="SID" onchange="Se()">
                                <option value="">请选择</option>
                                @{
                                    IList<MC_Serious> serious = ViewBag.serious;
                                    foreach (var item in serious)
                                    {
                                        <option @(Model.SeriousName == item.Name ? "selected" : "") value="@item.Name">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    @{
                        if (Model.ID > 0)
                        {

                        }
                        else
                        {

                        }
                        <div class="form-group">
                            <label class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-10">
                                <input type="text" value="@Model.Url" placeholder="播放地址" id="Url" name="Url" class="form-control" />
                                <img src="~/Content/Images/main-wait.gif" id="loadimg" style="display:none" />
                                <input type="file" onchange="ajaxFileUpload('upv', 'Url','')" name="upv" id="upv" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">时长</label>
                            <div class="col-sm-10">
                                <input type="text" value="@Model.VedioLong" id="VedioLong" name="VedioLong" class="form-control" />
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-10">
                            <input type="number" value="@Model.Price" id="Price" name="Price" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">封面</label>
                        <div class="col-sm-10">
                            <input type="file" onchange="ajaxFileUpload('upmg', 'Cover', 'erimg')" name="upmg" id="upmg" />
                            <input type="text" style="display:none" placeholder="远程图片地址" value="" id="netimgurl" class="form-control" />
                            <input onchange="donetdow()" id="chknet" type="checkbox" /> <label for="chknet">从网络上下载图片</label>
                            <button type="button" style="display:none" id="btndown" onclick="dodown()" class="btn btn-primary">下载</button>
                            <br />
                            <input type="hidden" value="@Model.Cover" name="Cover" id="Cover" />
                            <img src="@(ViewBag.picurl+Model.Cover)" style="max-width:400px;" id="erimg" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="dosub()" class="btn btn-primary">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

    </div>
</form>
<style>
    input, select, textarea {
        max-width: 500px;
    }
</style>

@*<script src="~/Content/js/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">
    $('#Edit-modal').modal('show');
    function changetag(obj) {
        var cl = $(obj).attr("class");
        if (cl.indexOf('btn-default') > 0) {
            $(obj).attr("class", "btn btn-info");
        }
        else {
              $(obj).attr("class", "btn btn-default");
        }
    }
    function changeSe() {
        var name = $("#Seriousname").val();  //SeriousID
        //$("#SID option[value='" + name + "']").attr("selected", true);
        $("#SID option").removeProp("selected");
        var obj = $("#SID").find("option[value='" + name + "']");
        if (obj.length > 0) {
            obj.prop("selected", true);
        }
        else {
            var objcontain = $("#SID option:contains('" + name + "')");
            if (objcontain.length > 0) {
                objcontain.prop("selected", true);
            }
            else {
                $("#SID").val("");
                 $("#Seriousname").val(""); 
            }
        }
        
    }
    function Se() {
        var val = $("#SID").find("option:selected").val();
        $("#Seriousname").val(val)
    }


    function donetdow()
    {
        var bischecked = $('#chknet').is(':checked');
        if(bischecked)
        {
            $("#netimgurl").show();
            $("#btndown").show();
            $("#upmg").hide();
        }
        else
        {
            $("#btndown").hide();
            $("#netimgurl").hide();
            $("#upmg").show();
        }
    }

    function dodown()
    {
        var url = $("#netimgurl").val();
        $.post("/FileUP/AjaxNetImg?url="+url, "", function (res) {
            if(res.indexOf("失败")>0)
            {
                alert(res);
            }
            else
            {
                $("#erimg").attr("src", res);
                $("#Cover").val(res);
            }
        })
    }

    function dosub() {
        if ($("#txtName").val() == "") {
            $("#txtName").focus();
            alert('名称不能为空');
            return;
        }
        var tagbtns = $(".tagbtns  .btn-info");
        var tags = "";
        for (var i = 0; i < tagbtns.length; i++) {
            if (i == 0) {
                tags = $(tagbtns[i]).val();
            }
            else {
                 tags +=","+ $(tagbtns[i]).val();
            }
        }
        var datamenu = $("#_ModalForm").serialize();
        var ID = $("#ID").val();
        var suburl = "/Vedios/Add";
        if (ID > 0) {
            suburl = "/Vedios/Edit";
        }
        $.post(suburl, datamenu + "&tags=" + tags, function (res) {
            alert(res);
            if (res = "操作成功") {
                 location.reload();
            }
           
        })
    }
</script>