@{
    ViewBag.Title = "ProductImg";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model List<Yax.Model.Web_Img>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">@(ViewBag.name) - 图片</h3>
    <div class="content">
        <div class="btn-toolbar">
            @if (new Yax.BLL.CurrentUser().Id == 1)
            {
                <div class="btn-group" role="group">
                    <button type="button" onclick="create()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> 添加</button>
                    <a style="margin-left:20px;display:none"
                       href="/config/ImgBack?menuid=@Request.QueryString["menuid"]&pid=@Request.QueryString["pid"]&ImgType=@Request.QueryString["ImgType"]&tname=@Request.QueryString["tname"]" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> 回收站
                    </a>
                </div>
            }
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th width="30px" style="display:none">
                        <input id="checkall" type="checkbox" data-toolbar=".btn-toolbar" data-target="[name=ID]" data-toggle="checkall">
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        图片
                    </th>
                    <th>
                        原图
                    </th>
                    <th>
                        添加时间
                    </th>
                    <th>
                        排序
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (Model != null && Model.Count > 0)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td width="30px" style="display:none"><input type="checkbox" name="ID" value="1267"></td>
                                <td>
                                    @Model[i].ID
                                </td>
                                <td>
                                    <img style="max-width:400px;" src="@Model[i].Imgurl" />
                                </td>
                                <td>
                                    <a href="@Model[i].Imgurl" target="_blank">查看原图</a>
                                </td>
                                <td>
                                    @Model[i].AddTime
                                </td>
                                <td>
                                    @Model[i].Sort
                                </td>
                                <td>
                                    <a class="btn btn-info btn-xs" onclick="edit(@Model[i].ID)" title="编辑">编辑</a>
                                    <a class="btn btn-danger btn-xs" onclick="del(@Model[i].ID,'@Model[i].Name')" title="删除">删除</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        @Html.Raw(ViewBag.PageStr)

    </div>
</div>

<script>
    function create()
    {
        $loadModal('/admin/qiye/ProductImgAdd?ProductID=@Request.QueryString["id"]');
    }
    function edit(imgid)
    {
        $loadModal('/admin/qiye/ProductImgAdd?ProductID=@Request.QueryString["id"]' + "&imgid=" + imgid);
    }
    function del(id,name)
    {
        if(confirm("确定要删除"))
        {
            $.post("/admin/qiye/ProductImgDel?id=" + id + "&name=" + name, "", function (res) {
                alert(res);
                location.reload();
            })
        }
    }
</script>
