

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="Keywords" content="我的预定">
    <meta name="description" content="我的预定" />
    <title>我的预定</title>
    @{Html.RenderPartial("/views/PartV/HeadJC.cshtml");}
</head>
<body class="memberbody">
    <!--public header-->
    @{Html.RenderPartial("/views/PartV/MemberTop.cshtml");}
    <section class="kzmemberBT memberPaddingTop">
        <div class="container">
            当前位置:
            <a class="kzmemberBTLi" href="/member/index">会员中心</a>
            <a class="kzmemberBTLi" href="#this">我的预定</a>
        </div>
    </section>
    <!--渠道统计-->
    <!--渠道代理列表-->
    <section class="kzagentList">
        <div class="container">
            <div class="kzagentInner">
                <div class="kzheader"> @(ViewBag.TotalCount)条数据 </div>
                <table id="userTable">
                    <tr>
                        <th class="kzNumber">ID</th>
                        <th class="kzActive">名称</th>
                        <th class="kzActive">开始时间</th>
                        <th class="kzSettlementPrice">结束时间</th>
                    </tr>
                    @{
                        System.Data.DataTable dt = ViewBag.dt;
                        if (dt != null && dt.Rows.Count > 0)
                        {
                            for (int i = 0; i < dt.Rows.Count; i++)
                            {
                                <tr>
                                    <td data-th="">@(i + 1) </td>
                                    <td data-th="">@dt.Rows[i]["Name"] </td>
                                    <td data-th=""> @dt.Rows[i]["BeginTime"]</td>
                                    <td data-th="">@dt.Rows[i]["EndTime"]</td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
            @{
                if (ViewBag.TotalPage > 1)
                {
                    <div class="kzmemberMoreBox">
                        <a class="kzmore" onclick="GetMore()" id="btnMore" href="#this">查看更多</a>
                    </div>
                }
            }

        </div>
        <input type="hidden" name="PIndex" id="PIndex" value="1" />
        <input type="hidden" name="tp" id="tp" value="@Request.QueryString["tp"]" />
    </section>

    <style>
        .activedd {
            background-color: #ffd800;
        }
    </style>
    <!--移动端页脚-->

    @{Html.RenderPartial("/views/PartV/PhoneNav.cshtml");}
    <!--public footer-->
    @{Html.RenderPartial("/views/PartV/Footer.cshtml");}

    @{Html.RenderPartial("/views/PartV/FooterJC.cshtml");}

    <script>
        function GetMore() {
            $("#btnMore").hide();
            var PIndex = parseInt($("#PIndex").val());
            PIndex = PIndex + 1;
            $.post("/member/MyUserAjax", "PIndex=" + PIndex, function (res) {
                if (res == "no") {
                    $("#btnMore").html("加载完毕");
                    $("#btnMore").show();
                    $("#btnMore").attr("onclick", "");
                }
                else {
                    $("#userTable tr").last().after(res);
                    $("#btnMore").show();
                    $("#PIndex").val(PIndex);
                }

            })
        }
    </script>
</body>
</html>

