@model PagedList<MC_Vedios>
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="//apps.bdimg.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=0.0">
    <meta http-equiv=”Cache-Control” content=”no-transform” />
    <meta http-equiv=”Cache-Control” content=”no-siteapp” />
    <title>@ViewBag.Title</title>
    @{Html.RenderPartial("/views/PartV/aca/HeadJC.cshtml");}
    <meta name='apple-mobile-web-app-title' content='@ViewBag.Title'>
    <!--[if IE]><script src="http://mqs.hk/wp-content/themes/zibll/js/libs/html5.min.js"></script><![endif]-->
</head>
<!--body class  dark-theme-->
<body class="home blog white-theme nav-fixed site-layout-1">
    <header class="header header-layout-3">
        @{Html.RenderPartial("/views/PartV/aca/NavWeb.cshtml");}
    </header>
    <!--搜索框 手机电脑-->
    <div class="fixed-body main-bg box-body navbar-search">
        <div class="theme-box">
            <button class="close" data-toggle-class data-target=".navbar-search">
                <i data-svg="close" data-class="ic-close" data-viewbox="0 0 1024 1024"></i>
            </button>
        </div><div class="box-body">
            <div class="search-input">
                <form method="get" class="relative line-form" action="/">
                    <input type="text" name="s" class="line-form-input" tabindex="2" placeholder="请输入资源名称">
                    <div class="abs-right muted-color">
                        <button type="submit" tabindex="3" class="null"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="search" aria-hidden="true"></i></button>
                    </div>
                    <i class="line-form-line"></i>
                </form>
            </div>
        </div>
    </div>
    <!--登录注册按钮 手机部分-->
    <div class="mobile-header">
        @{Html.RenderPartial("/views/PartV/aca/NavWap.cshtml");}
        <div class="fixed-body" data-close=".mobile-navbar"></div>
    </div>


    <div class="container fluid-widget"></div>
    <main role="main" class="container">
        <div class="content-wrap">
            <div class="content-layout">
                <div class="index-tab">
                    <ul class="scroll-x mini-scrollbar">
                        @{
                            string txtCategory = Request.QueryString["Category"];
                        }
                        <li class="@(string.IsNullOrEmpty(txtCategory)?"active":"")"><a href="/aca/index">全部</a></li>
                        <li class="@(txtCategory=="国产"?"active":"")"><a href="/aca/index?Category=国产">国产</a></li>
                        <li class="@(txtCategory=="日本"?"active":"")"><a href="/aca/index?Category=日本">日本</a></li>
                        <li class="@(txtCategory=="欧美"?"active":"")"><a href="/aca/index?Category=欧美">欧美</a></li>
                        @*<li class="@(txtCategory=="韩国"?"active":"")"><a href="/aca/index?Category=韩国">韩国</a></li>*@
                        <li class="@(txtCategory=="剧情"?"active":"")"><a href="/aca/index?Category=剧情">剧情</a></li>
                    </ul>
                </div>
                <!--标签导航 样式eg-->
                <div class="ajaxpager" style="display:none">
                    <div class="ajax-option">
                        <div class="option-dropdown splitters-this-r">
                            分类
                            <i class="fa fa-fw fa-sort ml6" aria-hidden="true"></i>
                            <div class="option-dropdown-items main-shadow radius8 main-bg scroll-y mini-scrollbar">
                                <a ajax-replace="true" class="ajax-next text-ellipsis" href="">国产</a>
                                <a ajax-replace="true" class="ajax-next text-ellipsis" href="">亚洲</a>
                            </div>
                        </div>
                        <ul class="list-inline scroll-x mini-scrollbar option-items">
                            <a ajax-replace="true" class="ajax-next text-ellipsis" href="">国产</a>
                            <a ajax-replace="true" class="ajax-next text-ellipsis" href="">亚洲</a>
                        </ul>
                        <div class="option-dropdown splitters-this-r">
                            专题
                            <i class="fa fa-fw fa-sort ml6" aria-hidden="true"></i>
                            <div class="option-dropdown-items main-shadow radius8 main-bg scroll-y mini-scrollbar">
                                <a ajax-replace="true" class="ajax-next text-ellipsis" href="">专题01</a>
                            </div>
                        </div>
                        <ul class="list-inline scroll-x mini-scrollbar option-items">
                            <a ajax-replace="true" class="ajax-next text-ellipsis" href="">专题01</a>
                        </ul>
                        <div class="option-dropdown splitters-this-r">
                            标签
                            <i class="fa fa-fw fa-sort ml6" aria-hidden="true"></i>
                            <div class="option-dropdown-items main-shadow radius8 main-bg scroll-y mini-scrollbar">
                                <a href="https://demo.zibll.com/tag/seo" ajax-replace="true" class="ajax-next text-ellipsis">标签01</a>
                            </div>
                        </div>
                        <ul class="list-inline scroll-x mini-scrollbar option-items">
                            <a href="https://demo.zibll.com/tag/seo%e5%b7%a5%e5%85%b7" ajax-replace="true" class="ajax-next text-ellipsis">标签01</a>
                        </ul>
                    </div>
                    <div></div>

                    <!-- eg加载更多样式-->
                    <div class="text-center theme-pagination ajax-pag" style="display:none">
                        <div class="next-page ajax-next">
                            <a href="">
                                <i class="fa fa-arrow-right"></i>加载更多
                            </a>
                        </div>
                    </div>



                </div>

                <div class="tab-content">
                    <div class="ajaxpager tab-pane fade in active" id="index-tab-1">
                        @{
                            if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    string cover = ViewBag.picurl + item.Cover;
                                    <posts class="posts-item ajax-item main-shadow radius8 card">
                                        <a class="item-thumbnail" target="_blank" href="/aca/play?ID=@item.ID">
                                            <img data-src="@cover" alt="@item.Name" class="lazyload fit-cover radius8">
                                        </a>
                                        <div class="item-body">
                                            <h5 class="item-heading text-ellipsis-2">
                                                <a  href="/aca/play?ID=@item.ID">@item.Name<span class="focus-color"></span></a>
                                            </h5>
                                            <p class="item-tags scroll-x mini-scrollbar">
                                                <a class="but c-blue" title="查看更多@(item.Category)" href="/aca/index?Category=@item.Category">
                                                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>@item.Category
                                                </a>
                                            </p>
                                            <div class="item-meta muted-3-color">
                                                <item class="meta-author"><span class="icon-circle">@item.AddTime.ToString("yyyy-MM-dd")</span></item>
                                                <div class="meta-right pull-right">
                                                    @*<item class="meta-love"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="love" aria-hidden="true"></i>@item.Likes</item>*@
                                                    <item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>@item.Hits</item>
                                                    @*<item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>@item.Goods</item>*@
                                                </div>
                                            </div>
                                        </div>
                                    </posts>
                                }
                            }
                        }


                    </div>
                    @if (Model != null && Model.Count > 0)
                    {
                        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pi", PagerItemWrapperFormatString = "<li>{0}</li>", CurrentPagerItemWrapperFormatString = "<li class=\"active\"><span>{0}</span></li>", FirstPageText = "首页", NextPageText = "»", PrevPageText = "上一页", LastPageText = "尾页", ContainerTagName = "ul", AutoHide = false }, new { @class = "pagination" })
                    }
                </div>
            </div>
        </div>
    </main>
    <div class="container fluid-widget"></div>
    <div class="notyn"></div>
    @{Html.RenderPartial("/views/PartV/aca/Footer.cshtml");}
    <!--window_variable_start-->
    <!--window_variable_end-->
    <!-- 返回顶部-->
    @{Html.RenderPartial("/views/PartV/aca/ScrollTop.cshtml");}

    <!-- 登录注册 页面HTML部分-->
    @{Html.RenderPartial("/views/PartV/aca/funLogin.cshtml");}


    @{Html.RenderPartial("/views/PartV/aca/FooterJC.cshtml");}
</body>
</html>
