@{
    ViewBag.Title = "Create";
}
<form action="/admin/config/AddFriendLink" method="post" class="form-horizontal" id="_ModalForm">
    <input type="hidden" name="id" value="@Request.QueryString["id"]" />
    <input type="hidden" name="GName" id="GName" value="@Request.QueryString["GName"]" />
    <div id="Edit-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">参数</h4>
                </div>
                <div class="modal-body">
                    <div class="error-panel"></div>
                    @{
                        int congid = Yax.Common.Utils.GetQueryInt("id", 0);
                        string readOnly = "";
                        if (congid == 0)
                        {

                        }
                        else
                        {
                            readOnly = "readonly=\"readonly\"";
                        }
                        }
            
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text"  value="@ViewBag.Name" id="Name" name="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">键</label>
                        <div class="col-sm-10">
                            <input type="text" @readOnly value="@ViewBag.KeyName" id="KeyName" name="KeyName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">值</label>
                        <div class="col-sm-10">
                            <textarea id="KValue" rows="10"  name="KValue" class="form-control">@ViewBag.Value</textarea>
                            @*<input type="text"   value="@ViewBag.Value" id="KValue" name="KValue" class="form-control" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" value="@ViewBag.Memo" id="memo" name="memo" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-10">
                            <input type="number" value="@ViewBag.Sort" id="Sort" name="Sort" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="dosub()" class="btn btn-primary">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        </div>
</form>
<style>
    input, select, textarea{
        max-width:400px;
    }
</style>

@*<script src="~/Content/js/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">
    $('#Edit-modal').modal('show');
    function dosub() {
        if ($("#Name").val() == "") {
            $("#Name").focus();
            alert('名称不能为空');
            return;
        }
        if ($("#KeyName").val() == "") {
            $("#KeyName").focus();
            alert('键不能为空');
            return;
        }
        var datamenu = $("#_ModalForm").serialize();
        $.post("/admin/config/AddSysConfigPost", datamenu, function (res) {
            alert(res);
            location.reload();
        })
    }
</script>