@model Entity.MS_Admin
@{
    Layout = null;
    ViewBag.Title = "后台管理";
}
<form action="/admin/menu/create" method="post" class="form-horizontal" id="_ModalForm">
    <input type="hidden" name="id" value="@Request.QueryString["id"]" />

    @{
        string pwdPlaceholder = "";
        if (!string.IsNullOrEmpty(Request.QueryString["id"]))
        {
            pwdPlaceholder = "放空不修改";
        }
    }
    <div id="Edit-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">管理员</h4>
                </div>
                <div class="modal-body">
                    <div class="error-panel"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" value="@Model.Name" id="txtname" name="txtname"  class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-9">
                            <input type="password" value="" id="pwd" name="pwd" placeholder="@pwdPlaceholder" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">真实姓名</label>
                        <div class="col-sm-9">
                            <input type="text" value="@Model.RealName" id="realName" name="realName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">权限组</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="groupa" id="groupa">
                                <option value="0">==请选择==</option>
                                @{
                                    System.Data.DataTable dt = ViewBag.admingroup;
                                    for (int i = 0; i < dt.Rows.Count; i++)
                                    {
                                        <option value="@dt.Rows[i]["ID"]">@dt.Rows[i]["Name"]</option>
                                    }
                                }
                            </select>
                            <script>
                                $("#groupa").val('@Model.AdminGroupID');
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">电话</label>
                        <div class="col-sm-9">
                            <input type="text" value="@Model.Phone" id="Phone" name="Phone" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注</label>
                        <div class="col-sm-9">
                            <input type="text" value="@Model.Memo" id="Memo" name="Memo" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="dosub()" class="btn btn-primary">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</form>



@*<script src="~/Content/js/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">
    $('#Edit-modal').modal('show');
    function dosub() {
        if ($("#txtname").val() == "") {
            $("#txtname").focus();
            alert('用户名名称不能为空');
            return;
        }
        var datamenu = $("#_ModalForm").serialize();
        $.post("/admin/AdminEditPost", datamenu, function (res) {
            if (res == "操作成功")
            {
                location.reload();
            }
            else
            {
                alert(res);
            }

        })
    }
</script>